@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);


@font-face {
    font-family: 'slick';
    src: url(/fonts/slick.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/stardust.png) repeat;
    background-size: cover;
    background-color: #121B3E;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

body.newRelease {
    background: #090d1d;
}

header {

}

.row {
    margin: 30px 0;
}

.columns {
    padding: 0 2.5%;
}

.section {
    color: #FFF;
}

.separator {
    display: inline-block;
    height: 40px;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    max-width: 960px;
    max-height: 650px;
    margin: 0 auto;  
    padding-top: 3%;  
    z-index: 2;
}

.logo {           
    width: 100%; 
    margin-top: 5%;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
    filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.shadowed.small {
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
}

h2 {
    color: #80CAA8;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.3em;
    margin-bottom: 20px;
}

/*VIDEO*/
.trailerHolder {
    width: 100%;
    height: 240px;
    /*margin-bottom: 20px;*/
}

.trailerPlay {
/*    background: url('/images/trailerBoard.svg');*/
    background: url('/images/flickChessIcon.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.trailerPlay i {
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 44%;
    opacity: 0.8;
}

.trailerPlay:hover i {
    /*color: #80CAA8;*/
    color: #FF2788;
}

.videoDemo {
    display: none;
    width: 100%;
    height: 100%;
}

/*FORM*/
#subscribeForm {
    display: inline-block;    
}

#subscribeForm label {
    color: #80CAA8;
    padding: 1% 2% 1% 0;    
    float: left;
    cursor: default;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#subscribeForm label a {
    color: #80CAA8;
    font-weight: 700;
}

#subscribeForm label a:hover {
    color: #FF2788;
}

#subscribeForm input {
    float: left;
    width: 68%;
    height: 30px;
    padding: 2%;
    border: 2px solid #343f81;
    background-color: #80CAA8;    
    border-radius: 3px;
    color: #343f81;
    font-size: 11px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #648e7b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #648e7b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #648e7b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #648e7b;
}

.formButton {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF2788;
    background-color: #121B3E; 
    border: 2px solid #6800B2;
    border-radius: 3px;
    padding: 0.5% 5%;
}

.formButton:hover {
    border: 2px solid #AC3AFF;  
    color: #FF2788;
    background-color: #121B3E; 
}

#subscribeForm button {
    float: left;
    font-size: 0.9em;    
    margin-left: 1%;
    width: 30%;
}

.feedbackMessage {
    display: none;
    float: right;
    color: #AC3AFF;
    font-size: 0.9em;
    margin: 10px 5px;
}

/*SCREENSHOT SLIDER*/
#screenshotSlider{
    background: url('/images/mobileHolder.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 310px;
    height: 500px;
    margin: 0 auto 30px;
    position: relative;
}

#screenshotSlider .sliderWrapper{
    position: absolute;
    top: 45px;
    left: 8px;
    background-color: #000;
    width: 294px;
    height: 390px;    
}

#screenshotSlider .sliderWrapper img{
    width: 100%;
    height: 390px;
    overflow: hidden;
    display: inline-block;
}

#screenshotSlider .slick-prev {
    left: -60px;
    width: 45px;
    height: 45px;
}

#screenshotSlider .slick-prev:before {
    font-size: 45px;
}

#screenshotSlider .slick-next {
    right: -60px;
    width: 45px;
    height: 45px;
}

#screenshotSlider .slick-next:before {
    font-size: 45px;
}

/*ABOUT*/
#about {
    display: inline-block;
}

#about p {
    color: #FF3394;
    text-align: center;
}

#about span {
    font-weight: 700;
}

#about span.lastMan {
    color: #FFF;
    font-weight: 400;
}

/*STORES*/
.stores {
    margin: 50px 0;
}

.storeLink {
    float: left;    
    width: 33%;
    position: relative;
}

.storeLink.disabled {
    pointer-events: none;
    cursor: default;
}

.storeLink.disabled .store {
    opacity: 0.5 !important;
}

.storeLink .ribon {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -10px;
    z-index: 100;
}

.storeLink .ribon.free {
    background: url(/images/free_ribon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%; 
}

.storeLink .ribon.soon {
    background: url(/images/soon_ribon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.store {    
    height: 90px;
    opacity: 1;
    z-index: 10;
}

.store:hover {
    opacity: 0.5;
}

.store.apple {
    /*background: url(/images/appStoreButton_Apple.svg);*/
    background: url(/images/storeLogo_ios.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
    margin-right: 5%;
}

.store.google {
    /*background: url(/images/appStoreButton_Google.svg);*/
    background: url(/images/storeLogo_android.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10%;
}

.store.small {
    height: 100px;
}

.store.amazon {
    background: url(/images/storeLogo_amazon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;    
}

.store.googlePlay {
    background: url(/images/storeLogo_googlePlay.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.store.appStore {
    background: url(/images/storeLogo_appStore.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*FOOTER*/
footer { 
    margin-top: 50px;
    text-align: center;
    /*display: inline-block;*/
}

footer .row {    
    margin-bottom: 15px;
}

footer #samaLogo {
    display: inline-block;
    background-image: url("../images/logoSama_wide_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 55px;
}

footer #samaLogo span {
    display: none;
}

/*SOCIAL*/
.socialLinksHolder {    
    display: inline-block;
    padding-top: 0;
    font-size: 18px; 
}

.socialIcon {        
    color: #FFF !important;
    float: right;
}

.socialIcon:hover {   
    color: #FF2788 !important;
}

.socialIcon.facebook {
    margin-left: 15px;
}

.socialIcon.twitter {

}

.socialIcon.youtube {
    margin-left: 15px;
}   

.socialIcon.email {
    margin-left: 15px;
}   

.socialIcon span {
    display: none;
}


/*CONFIRMATION FORM*/
#main.emailConfirm .logo {
    width: 70%;
    margin-left: 15%;
}

#emailConfirmationForm label {
    color: #FF3394;
    padding: 1% 2% 1% 0;    
    float: left;
    cursor: default;
    width: 100%;
}

#emailConfirmationForm input {
    float: left;
    width: 100%;
    height: 30px;
    padding: 2%;
    border: 2px solid #343f81;
    background-color: #80CAA8;    
    border-radius: 3px;
    color: #343f81;
    font-size: 12px;
}

#emailConfirmationForm p {
    display: inline-block;
    margin: 10px 0;
}

#emailConfirmationForm p span {
    font-weight: 700;
}

#emailConfirmationForm .formButton {
    margin-top: 30px;
}

#emailConfirmationForm #feedbackMessage {
    margin-top: 30px;
    color: #AC3AFF;
}

/*CONFIRMATION FORM*/

/*PIECES*/
.piece {
    background: url(/images/pieceOne.png);    
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.piece.two {
    background: url(/images/pieceTwo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*NEW RELEASES*/
#updates {
    font-family: 'Open Sans';
}

#updates h2 {
    color: #80CAA8;
    text-align: center;
}

#updates p {
    color: #FFF;
    text-align: center;
}

#updates a {
    color: #FFF;
    font-weight: 700;
}

#updates a:hover {
    color: #FF2788;
}

#updates h3 {
    color: #FF2788;
}

.storesHolder {
    margin: 15px auto 40px;
    display: inline-block;
    width: 100%;
}

#updates .releaseList {
    color: #FFF;
}

.YTPOverlay {
    background: url(/images/raster_dot.png) repeat;
    /*z-index: 1;*/
    /*width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;*/
}

/*#tubular-container{
    opacity: 0.5;
}*/


// Small screens
@media only screen { 
    
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
    .page-wrapper {
        padding-top: 0;    
    }
    
    .logo {           
        width: 85%; 
        margin-left: 7.5%;
    }    
    
    #trailerPlay {
        background-size: 60%;
    }
    
    #trailerPlay i {
        left: 43%;
    }
    
    .socialLinksHolder {    
        padding-top: 20px;
    }
    
    #screenshotSlider .slick-prev {
        top: 412px;
        left: 0;
    }    
    
    #screenshotSlider .slick-next {
        top: 412px;
        right: 0;
    }
    
    #screenshotSlider .slick-prev:before,
    #screenshotSlider .slick-next:before{
        color: #121B3E;
    }
    
    .videoOverlay{
        padding-bottom: 260%;
    }
    
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {    
     #trailerPlay i {
        left: 43%;
    }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .videoOverlay{
        padding-bottom: 150%;
    }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
